@model DnSrtChecker.Models.ViewModels.StoreViewModel

@{
    ViewData["Title"] = "Details";
}



    <div class="container">
        <a onclick="history.go(-1);" class="btn btn-manage"><i class="fa fa-chevron-left iconColorStyleRetex"></i></a>
        <h2 class="titlePage">Dettaglio Punto di vendita</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SzDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SzDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LStoreGroup)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LStoreGroup.LStoreGroupId)
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.LRetailStoreId">Modifica</a> |
            <div>
                @*<a asp-action="Index" style="float:left;"><i class="fa fa-chevron-left iconColorRetex"></i></a>*@
            </div>
        </div>
    </div>