@model DnSrtChecker.Models.ViewModels.RtServerViewModel

@{
    ViewData["Title"] = "Delete";
}

    <div class="container">
        <a onclick="history.go(-1);" class="btn btn-manage"><i class="fa fa-chevron-left iconColorStyleRetex"></i></a>

        <h2 class="titlePage">Disabilitazione Server RT</h2>

        <h3>Sei sicuro che vuoi cancellare questo server?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Matricola Fiscale:")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RtServerStatus.SzRtServerId)
                </dd>
                <dt>
                    @Html.DisplayName("Locazione:")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SzLocation)
                </dd>

                <dt>
                    @Html.DisplayName("Stato del servizio:")
                </dt>
                <dd>
                    @Html.CheckBox("BOnDutyFlag", Model?.BOnDutyFlag)
s                </dd>
                <dt>
                    @Html.DisplayName("Punto di vendita:")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.L.SzDescription)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="RtServerStatus.SzRtServerId" />
                <input type="hidden" asp-for="RtServerStatus.LRetailStoreId" />
                <input type="hidden" asp-for="RtServerStatus.LStoreGroupId" />

                <input type="submit" value="Cancella" class="btn btn-manage" />
                <div>
                    @*<a asp-action="Index" style="float:left;"><i class="fa fa-chevron-left iconColorRetex"></i></a>*@
                </div>
            </form>
        </div>
    </div>